<style>

   body {
  background-color: #d2d687;}
body {font-family: "Lato", sans-serif;}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

#WHEN {background-color:RED;}
#WHERE {background-color:green;}
#WHAT {background-color:blue;}
#WHY {background-color:orange;}
#FAQ {background-color:GREY;}
#FOOD {background-color:PINK;}
#DRESSCODE {background-color:PURPLE;}
#PRICE {background-color:BROWN;}

</style>
